/* MAIN */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    user-select: none;
}

p {
    margin: 0;
}


/* LAYOUT */

.main-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}
/* MAIL-APP ---------------------------------------------------------------------------------*/

/* COMPONENTS */

/* APP-HEADER */

.app-header {
    background-color: aqua;
    height: 60px;
}

.app-header .nav-bar li:not(:last-child){
    margin-inline-end: 30px;
}

/* MAIL-LIST */

.mail-preview-container {
    background-color: bisque;
    border: 1px solid black;
    margin: 5px;
}

/* MAIL-REVIEW */

.mail-preview {
    
}

.mail-preview .mail-name, .mail-subject {
    text-transform: capitalize;
}

.mail-preview p{
 margin: 5px;
}

.mail-preview .readed {
    font-weight: 900;
}

/* MAIL-APP -------------------------------------------------------------------------------------*/



/* HELPERS */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pointer {
    cursor: pointer;
}