.mail-details-container {
    padding: 10px;
    font-size: .8em;
}

.details-subject {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.details-subject pre {
    border: 1px solid gray;
    background-color: lightgrey;
    border-radius: 5px;
    margin-inline-start: 1em;
    padding: 0 5px 0 5px;
    margin-top: .15em;
    font-size: .7em;
}

.review-list .from-to {
    margin-bottom: 1em;
}

.from-to pre{
    font-family: sans-serif;
    font-weight: 900;
}

.from-to * {
    min-height: 1.5em;
}

.details-btns-container * {
    margin: 0px 5px;
}

.details-btns-container button{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    font-weight: 900;

}