
.mail-edit {
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 65%;
    height: 60vh;
    border-radius: 10px 10px 0 0;
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, -6px 4px 10px -5px rgba(0,0,0,0.7);
}

.mail-edit.edit-full {
    right: 0;
    width: 100%;
    height: 90vh;
}

.edit-header{
    background-color: rgb(46, 7, 7);
    height: 3em;
    border-radius: 10px 10px 0 0;
    color: azure;
    font-weight: 700;
    padding: 10px;
}

.edit-header button {
    background-color: transparent;
    color: azure;
    border: none;
    outline: none;
    font-size: 2em;
}

.toggle-full-btn {
    transform: rotate(-45deg);
}

.edit-input-container {
    flex-grow: 1;
}

.edit-input-container * {
    font-size: 1.2em;
}

.edit-input-container input, .edit-input-container textarea {
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 100%;
}

.edit-input-container p {
    background-color: white;
    border-bottom: 1px solid rgb(46, 7, 7);
    font-size: .8em;
    height: 100%;
    padding-top: .5em;
    padding-left: .5em;
    color:grey
}


.edit-input-container input {
    border-bottom: 1px solid rgb(46, 7, 7);
}

.mailbody-input {
    flex-grow: 1;   
}

.form-btns-container {
    padding: 0 10px;
    background-color: azure;
}

.form-btns-container .send-btn {
    margin-bottom: 10px;
    background-color: royalblue;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 30px;
}

.remove-edit {
    font-size: 2em;
    border: none;
    background-color: transparent;
}