/* APP-HEADER */

.app-header {
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    height: 10vh;
    z-index: 50;
}

.header {
    height: 100%;
}

.main-logo {
    font-size: 2.5em;
    font-family: cursive;
}

.main-logo :first-child {
    color: mediumpurple;
}

.main-logo :nth-child(2) {
    color: royalblue;
}

.main-logo :nth-child(3) {
    color: crimson;
}

.main-logo :nth-child(4) {
    color: orange;
}

.main-logo :nth-child(5) {
    color: gold;
}

.main-logo :nth-child(6) {
    color: greenyellow;
}


.app-header .nav-bar li:not(:last-child){
    margin-inline-end: 30px;
}

.app-header .nav-bar a {
    text-decoration: none;
    color:  rgb(130, 130, 130);
    font-size: 1.5em;
}

.app-header ul, .app-header li {
    height: 100%;
}

.app-header li {
    padding: 0 5px;
}

/* .app-header a {
    height: 100%;
} */

.app-header li:hover, .main-logo:hover{
    transform: scale(1.1);
    transition: .4s;
}