/* APP-HEADER */

.app-header {
    position: fixed;
    width: 100%;
    background-color: lavender;
    height: 10vh;
    z-index: 50;
}

.header {
    height: 100%;
}

.main-logo {
    font-size: 2.5em;
    font-family: cursive;
}

.main-logo :first-child {
    color: mediumpurple;
}

.main-logo :nth-child(2) {
    color: royalblue;
}

.main-logo :nth-child(3) {
    color: crimson;
}

.main-logo :nth-child(4) {
    color: orange;
}

.main-logo :nth-child(5) {
    color: gold;
}

.main-logo :nth-child(6) {
    color: greenyellow;
}


.app-header .nav-bar li:not(:last-child){
    margin-inline-end: 30px;
}

.app-header .nav-bar a {
    font-family: cursive;
    font-weight: 900;
    text-decoration: none;
    color:  mediumpurple;
    font-size: 1.5em;
}

.app-header ul, .app-header li {
    height: 100%;
}

.app-header li {
    padding: 0 5px;
}

/* .app-header a {
    height: 100%;
} */

.app-header li:hover, .main-logo:hover, .burger:hover {
    transform: scale(1.1);
    transition: .4s;
}

/* BURGER */

.burger {
    font-size: 1.5em;
    color: mediumpurple;
    font-weight: 900;
}

.app-header .nav-bar-burger {
    position: fixed;
    top: -10px;
    right: 10px;
    height: 300px;
    width: 200px;
    background-color: mediumpurple;
    border-radius: 10px;
}

.app-header .nav-bar-burger * {
    font-size: 1.3em;
    font-family: cursive;
    text-decoration: none;
    color: aliceblue;
    background-color: transparent;
    border: none;
    outline: none;
}

.app-header .nav-bar-burger .close-btn {
    color: crimson;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .8s ease;
}

.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}