/* BACIS */
@import './basic/basic.css';
@import './basic/helpers.css';

/* CMPS */
@import './cmps/app-header.css';
@import './cmps/user-msg.css';

/* PAGES */

@import './pages/about.css';
@import './pages/home-page.css';

/* MAIL-CMPS */
@import './mail/cmps/mail-cide-bar.css';
@import './mail/cmps/mail-preview.css';

/* MAIL-PAGES */

@import './mail/pages/mail-app.css';
@import './mail/pages/mail-details.css';
@import './mail/pages/mail-list.css';
@import './mail/pages/mail-edit.css';

/* KEEP-CMPS */

@import './keep/cmps/note-img.css';
@import './keep/cmps/note-text.css';
@import './keep/cmps/note-todo.css';
@import './keep/cmps/keep-list.css';
@import './keep/cmps/note-video.css';
@import './keep/cmps/keep-add.css';
@import './keep/cmps/keep-item-btns.smp.css';
@import './keep/cmps/keep-side-bar.css';

/* KEEP-PAGES */

@import './keep/pages/keep-app.css';



/* MEDIA-QUERYS */


@media (max-width: 860px) {

    /* MAIL_APP */

    .main-container {
        max-width: 720px;
    }

    .mail-app {
        flex-direction: column;
        padding-left: 0;
    }

    /* SIDE-BAR */

    .mail-side-bar {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: .9em;
        background-color: lavender;
        border-radius: 10px;
        padding: 10px;
    }

    .mail-side-bar * {
        background-color: transparent;
    }


    .side-btns-container {
        flex-direction: row;
    }
    
    .mail-side-bar .compose {
        font-size: 1.2em;
        margin: 0;
        border-radius: 0;
    }

    .mail-filter {
        align-items: center;
        border: 1px solid darkgray;
        border-radius: 10px;
        margin: 0;
        margin-right: 5px;
    }

    /* MAIL-LIST */

    .mail-list {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        overflow: visible;
    }

    /* MAIL-DETAILS */

    .mail-details-container {
        width: 100%;
    }

    /* KEEP-APP */

    .keep-app {
        flex-direction: column;
        padding-left: 0;
    }

    /* KEEP-LIST */

    .keep-list-container {
        width: 100%;
    }

    /* KEEP SIDE-BER */

    .keep-side-bar {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: .9em;
        background-color: lavender;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .keep-side-bar * {
        background-color: transparent;
    }


    .side-btns-container {
        flex-direction: row;
    }
    
    .keep-side-bar .compose {
        margin: 0;
        border-radius: 0;
    }

    .keep-filter {
        align-items: center;
        border: 1px solid darkgray;
        border-radius: 10px;
        margin: 0;
        /* margin-right: 5px; */
    }
}

@media (max-width: 750px) {

    .main-container {
        max-width: 600px;
    }

    .mail-side-bar {
        flex-direction: column;
        align-self: center;
        align-items: stretch;
        max-width: 600px;
    }

    .side-btns-container {
        justify-content: space-between;
    }

    .mail-side-bar .compose {
        justify-content: center;
        padding: 0;
    }

    .mail-filter {
        margin-top: 10px;
    }

    .mail-edit {
        width: 100%;
        right: 0;
    }
}

@media (max-width: 630px) {
    .main-container {
        max-width: 500px;
    }

    .mail-side-bar {
        max-width: 500px;
    }
    
    .mail-preview .name-container {
        min-width: 11em;;
    }

    .name-container button {
        padding: 0;
        font-size: 1em;
    }

    .mail-preview .sent-at {
        min-width: 4em;
    }

    .from-to {
        flex-direction: column;
        align-items: flex-start;
    }

    .from-to .details-btns-container {
        width: 100%;
        justify-content: space-between;
    }

    div.details-btns-container.flex.align-center > p {
        margin: 0;
    }

    .details-subject {
        flex-direction: column;
    }

    .details-subject p {
        font-size: 1em;
    }
}

@media (max-width: 530px) {
    .main-container {
        margin: 0 10px;
    }

    .mail-side-bar .side-btns-container * {
        padding: 0 5px;
    }
}