.mail-filter {
    background-color: beige;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mail-filter input {
    border: none;
    outline: none;
    font-size: 1.2em;
    background-color: transparent;
}

.mail-filter::before {
    content: "🔎";
}