.mail-side-bar {
    /* margin: 5px 5px 0 0; */
    width: 20%;
}

.mail-side-bar button {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}

.mail-side-bar button:hover {
    background-color: lavender;
    border-radius: 5px;
    transform: translateY(-.3em);
    transition: transform .3s, box-shadow .3s;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.66);
}


.mail-side-bar * {
    background-color: lavender;
    border-radius: 5px;
    margin: 3px 0;
}

.side-btns-container button:focus {
    color: crimson;
}

.mail-side-bar .compose {
    margin-top: 20px;
    /* border-radius: 1.5em; */
    font-size: 1.5em;
}

.mail-side-bar .compose::before {
    content: "+";
    font-size: 2em;
    color: green;
}

.mail-filter {
    background-color: lavender;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mail-filter input {
    border: none;
    outline: none;
    font-size: 1.2em;
    background-color: transparent;
}

.mail-filter::before {
    content: "🔎";
}


/* .details-btns-container button:hover {  
    transform: translateY(-.3em);
    transition: transform .3s, box-shadow .3s;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.66);
} */