/* MAIL-PREVIEW */

.mail-preview * {
    overflow: hidden;
}

.mail-preview-container {
    border-bottom: 1px solid darkgrey;
}



.mail-preview:hover {
    outline: 1px solid rgb(121, 120, 120);
    box-shadow: 0px 8px 11px -7px #000000, 5px 5px 10px 5px rgba(0,0,0,0);
}

.mail-preview .mail-name, .mail-subject {
    text-transform: capitalize;
}

.mail-preview p{
    margin: 5px;
    white-space: nowrap;
    font-size: .8em;
    text-overflow: ellipsis;
}

.mail-preview .not-readed {
    font-weight: 800;
}

.mail-star {
    font-size: 1.7em;
    font-weight: 700;
    color: darkgrey;
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: .15em;
    min-width: 2em;
}

.mail-preview .name-container {
    width: 10em;
}

.mail-star:hover {
    color: black;
}

.marked-star {
    color: gold;
}

.marked-star:hover {
    color: goldenrod;
}