
.keep-add {
    background-color: azure;
    width: 60%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.add-textarea-container {
    background-color: azure;
    margin: 10px 0;
    font-size: 1em;
}

.checkbox-container * {
    margin: .09em;
}

.checkbox-container :first-child{
    margin-top: .16em;
}

.keep-add input {
    /* flex-grow: 1; */
    border: none;
    outline: none;
    font-size: 1em;
}


.keep-add .upload-img {
    display: none;
}

.keep-add .upload-label {
    background-color: azure;
}

.keep-add .text-area-container {
    border: 1px solid darkgray;
    border-radius: 5px;
}

.add-input-container * {
    border: none;
    outline: none;
    font-size: 1.5em;
    background-color: transparent;
}