
.keep-add {
    background-color: azure;
    width: 60%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.add-textarea-container {
    background-color: azure;
    margin: 10px 0;
    font-size: 1em;
}

.checkbox-container * {
    margin: .09em;
}



.checkbox-container :first-child{
    margin-top: .16em;
}

.keep-add input {
    /* flex-grow: 1; */
    border: none;
    outline: none;
    font-size: 1em;
}


.keep-add .upload-img {
    display: none;
}

.add-image-container {
    max-width: 300px;
    align-self: center;

    /* max-height: 300px; */
}

.add-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.keep-add .upload-label {
    background-color: azure;
}

.keep-add .text-area-container {
    border: 1px solid darkgray;
    border-radius: 5px;
}

.add-input-container * {
    border: none;
    outline: none;
    font-size: 1.5em;
    background-color: transparent;
    padding: 5px;
}

.add-input-container *:hover {    
    border-radius: 10px;
    box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.66);
}

.is-selected {
    text-decoration: line-through;
}

.set-color {
    display: none;
}