.keep-side-bar {
    width: 25%;
    align-self: flex-start;
}

.keep-side-bar button {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}

.keep-side-bar button:hover {
    transform: translateY(-.3em);
    transition: transform .3s, box-shadow .3s;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.66);
}

.side-btns-container button:focus {
    color: crimson;
}

.keep-side-bar .compose {
    margin-bottom: 30px;
    border-radius: 1.5em;
    font-size: 1.5em;

}

.keep-side-bar .compose::before {
    content: "+";
    font-size: 2em;
    color: green;
}

.keep-filter {
    background-color: beige;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.keep-filter input {
    border: none;
    outline: none;
    font-size: 1.2em;
    background-color: transparent;
}

.keep-filter::before {
    content: "🔎";
}