

.item-btns-container * {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.item-btns-container .upload-img, .item-btns-container .set-color {
    display: none;
}

.item-btns-container :last-child {
    font-size: 1.2em;
    font-weight: 700;

    color: darkgray;
}

.item-btns-container .pin {
    color: darkgray;
}

.item-btns-container .pined {
    color: crimson;
}





