
.keep-list {
    width: 100%;
    
    
    /* background-color: hotpink; */
    /* display: grid;
    gap: .5em; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* grid-auto-columns: 300px; */
    /* grid-auto-flow: dense; */

    /* grid-template-columns: repeat(30, 1fr);
    grid-auto-rows: 21px; */


    columns: 3;


}

.keep-list > * {
    outline: 1px solid gold;
    margin: 10px;
    page-break-inside: avoid;
    break-inside: avoid;
   
}

