
.item-btns-container {
    opacity: 0;
    transition: .5s;
}

.item-btns-container:hover {
    opacity: 1;
}



.item-btns-container * {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.item-btns-container > * {
    padding: .3em;
}
/* .item-btns-container li {
    margin: 0;
} */

.item-btns-container .upload-img, .item-btns-container .set-color {
    display: none;
}

.item-btns-container :last-child {
    font-size: 1.2em;
    font-weight: 700;

    color: darkgray;
}

.item-btns-container .pin {
    color: darkgray;
}

.item-btns-container .pined {
    color: crimson;
}

.item-btns-container > *:hover {  
    transform: scale(1.4);
    transition: transform .3s;
    border-radius: 5px;
}




